
<!DOCTYPE html>
<html>
<head>
<title>Blyss - Graph</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Graph -->

<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Sad', 9],
  ['Upset', 3],
  ['Happy', 5],
  ['Anxious', 2],
  ['Loving', 4],
  ['Relaxed', 6]
]);

  // Optional; add a title and set the width and height of the chart
  var options = { 
	  pieHole: 0.3, 
	  'legend': 'bottom',
	  'height': 350,	  
	
	  };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
  chart.draw(data, options);
}
</script>


<!-- End graph -->
</head>
<body>

<div id="navbartop">
<button class="tablinkGraph" onclick="openCity('Week', this, '#FFA8A7')"
	id="defaultOpen"><h4>Week</4></button>
<button class="tablinkGraph" onclick="openCity('Month', this, '#FFA8A7')">
	<h4>Month</h4></button>
<button class="tablinkGraph" onclick="openCity('Year', this, '#FFA8A7')">
	<h4>Year</h4></button>
</div>


<div class="activeHome">

<h3 style="color:#FF2F2F">My Mood Chart</h3>

<div class = "activeHome">
		
<!-- Build chart -->
<div id="donutchart""</div>

</div>





<div class="graphBuffer">
<h5> You have been feeling sad lately.</h5>
<h6> Take a look below to help boost your mood! </h6>

 <p>{{#each posts}}
	{{#if positive}}

		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<div class="post" id="{{id}}">
				<img src ="{{photo}}" class="postPhoto">
		
			</div>
			<hr>
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
			<div class="post" id="{{id}}">
				<video class="postVideo" controls>
				<source src="{{video}}" type="video/mp4">
				</video>
			</div>
			<hr>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
			<div class="post" id="{{id}}">
				<audio class="postAudio" controls>
				<source src="{{audio}}" type="audio/mpeg">			
				</audio>
			</div>
			<hr>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}	
			<div class="post" id="{{id}}">
				<object class="postText" data={{text}}></object>
			</div>
			<hr>
		{{/if}}

		<!-- End if media -->

	{{/if}}
		
<!-- End if positive -->
{{/each}}</p>	


<!-- Bottom fixed nav bar -->


<div id="navbarbot">
	<a href=""><img src="icons/dataRed.png"
	class="iconimgbot"></a>
	<a href="/home"><img src="icons/homeGrey.png"
	class="iconimgbot"</a>
	<a href="/happy_A"><img src="icons/happyGrey.png"
	class="iconimgbot"</a>
</div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/project.js"></script>
<script src="/js/happy_B.js">

</body>
</html>
