<!DOCTYPE html>
<html>
<head>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-115181291-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
	
	
	
<title>Blyss - What Makes You Happy?</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Top fixed nav bar -->
<div id="navbartop">
<button class="tablinkB" onclick="openCity('Happy', this, '#FFA8A7')"
			 id="defaultOpen"><img class="iconimgtop" 
			 src="/emotes/happy4.png"></button>
<button class="tablinkB" onclick="openCity('Loving', this, '#FFA8A7')"><img class="iconimgtop" 
			 src="/emotes/loving1.png"></button>
<button class="tablinkB" onclick="openCity('Relaxed', this, '#FFA8A7')"><img class="iconimgtop" 
			 src="/emotes/relaxed4.png"></button>
<button class="tablinkB" onclick="openCity('Sad', this, '#FFA8A7')"><img class="iconimgtop" 
			 src="/emotes/sad1.png"></button>
<button class="tablinkB" onclick="openCity('Upset', this, '#FFA8A7')"><img class="iconimgtop" 
			 src="/emotes/upset1.png"></button>
<button class="tablinkB" onclick="openCity('Anxious', this, '#FFA8A7')"><img class="iconimgtop" 
			 src="/emotes/anxious2.png"></button>
</div>

<div id="Happy" class="tabcontentB">

<h3>Your Happy Posts</h3>
 <p>{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if happy}}

		<img src="{{emote}}" class="postEmote"></img>
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}</p>
</div>



<div id="Loving" class="tabcontentB">
  <h3>Your Loving Posts</h3>
  <p>{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if loving}}

		<img src="{{emote}}" class="postEmote">
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}</p> 
</div>

<div id="Relaxed" class="tabcontentB">
  <h3>Your Relaxed Posts</h3>
  <p>{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if relaxed}}

		<img src="{{emote}}" class="postEmote">
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}</p> 
</div>

<div id="Sad" class="tabcontentB">
  <h3>Your Sad Posts</h3>
  <p>{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if sad}}

		<img src="{{emote}}" class="postEmote">
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}</p> 
</div>

<div id="Upset" class="tabcontentB">
  <h3>Your Upset Posts</h3>
  <p>{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if upset}}

		<img src="{{emote}}" class="postEmote">
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}</p> 
</div>

<div id="Anxious" class="tabcontentB">
  <h3>Your Anxious Posts</h3>
  <p>{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if anxious}}

		<img src="{{emote}}" class="postEmote">
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}</p> 
</div>

<!-- Bottom fixed nav bar -->
<div id="navbarbot">
	<a href="/graph"><img src="icons/dataGrey.png"
	class="iconimgbot"></a>
	<a href="/home"><img src="icons/homeGrey.png"
	class="iconimgbot"</a>
	<a href=""><img src="icons/happyRed.png"
	class="iconimgbot"</a>
</div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/happy_B.js"></script>

</body>
</html>
